/* CSS Document */

.left_1 {float:left;}
.main_left {float:left;}
.left_2 {float:left;}
.main_cent {float:left;}
.right_1 {float:left;}

.left2 {float:left;}
.right2 {float:left;}

.left3 {float:left;}
.cent3 {float:left;}
.right3 {float:left;}
